.container {
  padding: 64px 10% 32px 10%;
  text-align: center;
}
.textContainer {
  margin: 0 auto 45px auto;
  max-width: 950px;
  text-align: center;
}

.img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 24px 0 0 0;
    text-align: left !important;
  }

  .textContainer {
    text-align: left;
  }
}
