.container {
  margin: 72px 0;
  position: relative;
}

.quoteIllustration {
  width: 56px;
}

.quoteContent {
  padding-left: 50px;
  padding-top: 32px;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 42px 0;
  }

  .quoteIllustration {
    width: 32px;
  }

  .quoteContent {
    padding-left: 16px;
  }
}
