#titleContainer {
  padding-right: 8%;
}

.accordion {
  border-radius: 0 !important;
}

.card {
  background-color: transparent;
  margin: 0 !important;
  border: none;
  color: white;
  border-radius: 0 !important;
  text-align: left !important;
}

.card:hover {
  cursor: pointer;
}

.question {
  padding: 40px 0 8px 0;

  background-color: transparent;
  border: none !important;
  border-radius: 0 !important;
  color: inherit;
  font-weight: 300;
  font-size: 22px;
  margin-top: 0;
}

.header {
  background-color: transparent;
  border-bottom: 1px solid #484848;
  border-radius: 0 !important;
  color: #fff;
  font-family: "Asket", sans-serif !important;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1.5px;
  margin: 0 !important;
  text-transform: uppercase;
  padding: 36px 0 8px 0;
}

.header:hover {
  color: #ffe633;
}

#icon {
  color: inherit;
  float: right;
}

[data-toggle="collapse"] .fa:before {
  content: "\f067";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f068";
}

.textDecorationContainer {
  box-sizing: border-box;
  position: relative;
}

.textDecorationImageContainer {
  box-sizing: border-box;
  height: 150%;
  width: 100%;
  left: 0;
}

.textDecorationImage {
  display: block;
  width: 100%;
  left: 0;
  bottom: -5px;
  position: absolute;
}

.bodyText {
  padding-left: 0 !important;
  padding-top: 16px;
  margin-bottom: 0;
  color: #bfbfbf;
  font-family: "muli", sans-serif;
  font-size: 18px;
  border: none !important;
}

@media only screen and (max-width: 600px) {
  #titleContainer {
    margin-bottom: 0 !important;
  }

  .header {
    font-size: 18px;
    letter-spacing: 1px;
  }

  #icon {
    padding-left: 8px;
  }

  .bodyText {
    font-size: 16px;
    padding-bottom: 0 !important;
  }
}
