.container {
  margin-bottom: 0 !important;
}

.table tbody {
  color: white;
}

.table tr:first-child {
  border-top: 2px solid transparent;
}

.table td {
  padding-left: 0 !important;
  vertical-align: bottom;
}

.table th {
  padding-left: 0 !important;
  vertical-align: bottom;
}

.table tr {
  height: 75px !important;
}

.table tbody tr:hover {
  color: yellow !important;
  cursor: pointer;
}
.table {
  border-top: none !important;
  font-family: "muli", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 600px) {
  .table {
    font-size: 15px;
  }

  #thDate {
    display: none !important;
  }

  #tdDate {
    display: none !important;
  }
}
