.gridContent {
  margin: 0 auto;
  padding: 72px 0 72px 0;
}

.textColumn {
  padding: 75px 70px 25px 0px !important;
  text-align: left;
}

#rightTextColumn {
  padding-left: 32px !important;
}

.imageColumn img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .row {
    margin-top: 0px;
    padding: 0px;
  }

  #rightTextColumn {
    padding-left: 0 !important;
  }

  .textColumn {
    padding: 0 !important;
  }

  .imageColumn img {
    padding-right: 0 !important;
  }

  .gridContent {
    margin: 0 auto;
    padding: 8px 0px !important;
  }
}
