.image {
  width: 33%;
}

div {
  margin-bottom: 24px;
}

.title {
  color: white;
  padding-top: 32px;
  font-family: "Asket", sans-serif !important;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.type {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 12px;
  font-size: 13px;
  margin-bottom: 8px;
  color: #ddd;
}

@media only screen and (max-width: 600px) {
  .image {
    width: 25%;
  }
}
