/* .card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  margin-top: 25px;
  border-radius: 0 !important;
  border: none !important;
  text-decoration: none !important;
  background: rgba(204, 204, 204, 0.1) !important;
}

.image {
  width: 100%;
  background-size: cover;
  transform-origin: 0 0;
}

.cardContent {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 20px;
  border: none !important;
}

.title {
  color: white;
  font-weight: 300;
  margin-bottom: 8px;
  font-size: 26px;
  margin-top: 0;
}

.source {
  padding-top: 8px !important;
  margin-bottom: 8px;
}

.type {
  text-transform: uppercase;
  letter-spacing: 1px;

  font-size: 13px;
  margin-bottom: 8px;
  color: #ddd;
}

@media only screen and (max-width: 768px) {
  .card-container-content {
    padding: 50px 15px 100px 15px;
  }
  .card-container-content h1 {
    font-size: 28px;
    padding-bottom: 0px;
    margin-bottom: 0;
  }
  .press-row {
  }
}



 */

.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  margin-top: 25px;
  border-radius: 0 !important;
  border: none !important;
  text-decoration: none !important;
}

.image {
  width: 100%;
  background-size: cover;
  transform-origin: 0 0;
}

.cardContent {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding-top: 22px;
  border: none !important;
}

.title {
  color: white;
  font-weight: 300;
  margin-bottom: 8px;
  font-size: 30px;
  margin-top: 0;
}

.source {
  padding-top: 8px !important;
  margin-bottom: 8px;
}

.type {
  text-transform: uppercase;
  letter-spacing: 1px;

  font-size: 13px;
  margin-bottom: 8px;
  color: #ddd;
}

@media only screen and (max-width: 768px) {
  .card-container-content {
    padding: 50px 15px 100px 15px;
  }
  .card-container-content h1 {
    font-size: 28px;
    padding-bottom: 0px;
    margin-bottom: 0;
  }
  .press-row {
  }
}
