body {
  background-color: #141517;
}

.centered {
  text-align: center !important;
}

p {
  color: #bfbfbf;
  font-family: "muli", sans-serif;

  font-size: 18px;
}

.layoutContainer {
  padding: 0px 4% 50px 4%;
  /* padding: 0px 10% 50px 10%; */
}

@media only screen and (max-width: 600px) {
  .layoutContainer {
    padding: 16px;
  }

  p {
    font-size: 16px;
  }
}

a.active {
  color: #ffe633 !important;
}
