.navbar {
  padding: 24px 60px;
  box-shadow: none !important;

  background-color: transparent !important;
}

.navbar img {
  height: 24px;
  padding: 0 !important;
}

.navLink {
  display: inline-block;
  padding: 0px 16px;
  font-size: 17px !important;
  color: white !important;
  text-align: center !important;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  font-family: "Muli", sans-serif;

  font-weight: 400;
  font-size: 15px;
}

.rightContent {
  margin-bottom: 0 !important;
}

.navLink:hover {
  color: #ffe633 !important;
  text-decoration: none;
}

.navLink.active {
  color: #ffe633;
}

#smallLogo {
  display: none;
}

.btn {
  border: none !important;
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 0;
    height: auto;
    opacity: 1 !important;
    color: black;
  }

  .navbar {
    background-color: #141517 !important;
  }

  .rightContent {
    padding-bottom: 16px;
    background-color: #141517;
    height: 80vh;
    overflow: hidden;
  }

  .navLink {
    padding-top: 16px;
    font-family: "Asket", sans-serif !important;
    font-size: 32px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .btn {
    font-size: 24px;
    border-color: rgba(255, 255, 255, 1) !important;
    opacity: 1;
  }

  .navbar img {
    height: 35px;
    padding: 12px 0 0 0 !important;
  }

  #smallLogo {
    display: block;
    padding: 0 !important;
  }

  #bigLogo {
    display: none;
  }
}
