.container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
  width: 100%;
  height: 95vh;
  margin-bottom: 116px;
  display: block;
  margin-top: -90px !important;
}

.content {
  padding-left: 5%;
  padding-right: 15px;
  text-align: left;
  max-width: 72%;
}

.title {
  padding-top: 33vh;
  font-size: 86px !important;
  line-height: 90px;
  font-family: "Asket", sans-serif !important;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.text {
  color: white !important;
  max-width: 1250px;
  font-size: 24px;
}

.readMore {
  position: absolute;
  bottom: 15%;
  margin: 0 auto;
  text-align: center;
  opacity: 0.75;
  left: 16%;
  margin-left: auto; 
  margin-right: auto; 
  width: 100px;

}

@media only screen and (max-width: 600px) {
  .container {
    height: 95vh;
    margin-bottom: 32px;
    margin-top: -68px !important;
  }

.content {
  max-width: 100%;
padding-right: 5%;
}

  .title {
    font-size: 52px !important;
    line-height: 50px;
    padding-top: 25vh;
  }

  .text {
    font-size: 18px;
  }

  .readMore {
    display: none;
  }
}



