.footerContainer {
  width: 100%;
  padding: 75px 4% 16px 4%;
}

.logo {
  font-size: 100px !important;
  font-family: "Share Tech Mono", monospace !important;
  opacity: 1 !important;
  line-height: 1 !important;
  color: #fff !important;
}

.link {
  text-decoration: none !important;
  color: #bfbfbf !important;
  line-height: 1.75;
  font-weight: 400;
  font-size: 16px;
  display: block !important;
}

a.link:hover,
a.link:focus {
  text-decoration: none !important;
  color: #ffe633 !important;
}

.footerTitle {
  font-family: "Muli", sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase !important;
  margin-bottom: 12px !important;
  letter-spacing: 2.5px;
  color: #fff !important;
}

@media only screen and (max-width: 600px) {
  .footerContainer {
    padding: 0px 16px 46px 16px;
    margin-bottom: 0;
  }

  .footerTitle {
    font-size: 18px;
    padding-top: 8px;
  }

  .link {
    font-size: 18px;
  }
}
