.container {
  padding: 80px 0 72px 0;
  text-align: left;
}

.text {
  max-width: 65%;
  margin-bottom: 102px;
}

@media only screen and (max-width: 600px) {
  .text {
    max-width: 100% !important;
    margin-bottom: 32px;
  }

  .container {
    padding: 0;
    padding-top: 32px;
  }
}
